body {
    background-color: #c6e5b131;
}

#header {
    background-color: #c6e5b131;
    color: #81983094;
    font-weight: bold;
    font-family: cursive;
}

#search {
    margin-top: -180px;
}

#img {
    margin-top: -10px;
    margin-left: -50px;
    padding: 5px;
}

article .container {
    margin-top: 50px;
    margin-bottom: 100px;
    color: #81983094;
    animation-duration: 3s;
    animation-name: slidein;
}

#sub {
    margin-top: -30px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: cursive;
}

h6.title {
    color: #07351E;
    font-weight: bold;
}

#barra {
    background-color: #C6E5B1;
    font-weight: bold;
    font-family: cursive;
    border: solid;
    color: #81983094;
}

#pepito {
    padding: 50px;
    background-color: #c6e5b131;
    border: solid;
}

#rowico2 {
    margin-top: 60px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

#carouselExampleDark {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 70px;
    padding-left: 15px;
}

main .container-fluid3 {
    margin: 40px;
    margin-top: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}

footer .container3 {
    margin: 40px;
    animation-duration: 3s;
    animation-name: slidein;
    padding: 50px;
    background-color: #c6e5b131;
    border: solid;
    color: #81983094;
    font-weight: bold;
    font-family: cursive;
}

#main {
    padding: 50px;
    background-color: #c6e5b131;
    border: solid;
    color: #81983094;
}

#sub2 {
    margin-top: -30px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: cursive;
}

#up {
    display: block;
    padding: 0.3em 0.5em 0.9em 0.5em;
    position: fixed;
    bottom: 10px;
    right: 5%;
    color: white;
    background-color: #81983094;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    /*vertical-align: middle;*/
    z-index: 900;
}

#up b a {
    color: green;
    text-decoration: right;
    font-size: 20px;
}

.row#final {
    background-color: #111;
}

#columna1 {
    margin-top: 10px;
    margin-left: -660px;
    color: #81983094;
    text-align: right;
}

#columna2 {
    margin-top: 30px;
    color: #ffffff;
    font-size: 18px;
    text-align: justify;
}